<!doctype html>
<!-- html tag with Thymeleaf -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Bootstrap CSS -->
		<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<title>Hello, world!</title>
	</head>
	<body>
		<div class="container border border-dark mt-3">
	        <header>
	            <div class="row p-4">
	                <div class="col-3 p-4 border border-dark">
	                    Best of
	                </div>
	                <div class="col-9 p-4 border border-dark">
	                    <div class="row text-center">
	                    	<a href="/" class="col-3 p-2 btn btn-primary ms-3">
	                            Home
	                        </a>
	                        <a href="/best-song" class="col-3 p-2 btn btn-primary ms-3">
	                            Best Songs
	                        </a>
	                    </div>
	                </div>
	            </div>
	        </header>
	
	        <main class="pb-5">
	            <div class="row justify-content-center text-center">
		            <h3 class="mt-5 mb-4">Best Movies by [[${name}]]</h3>
		            <div class="col-6">
			            <ul th:replace="frag :: movies(${movies})"></ul>
		            </div>
	            </div>
	        </main>
	    </div>
		
		<!-- Bootstrap Bundle with Popper -->
		<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/js/script.js}"></script>
	</body>
</html>